@tailwind base;
@tailwind components;
@tailwind utilities;

body{
	background-color: #2A2A2A;
}

@layer utilities {
	.border-gradient {
		position: relative;
		margin: 5px;
		border-width: 0;
		color: #fff;
		cursor: pointer;
	}

	.border-gradient::before {
		content: "";
		position: absolute;
		inset: 0;
		padding: 3px;
		margin: -5px;
		background: linear-gradient(145.86deg, #FFC01E -5.59%, #FFA41C 129.55%);
		-webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
		-webkit-mask-composite: xor;
		mask-composite: exclude;
	}
}

@layer base {
	@font-face {
		font-family: Oswald;
		src: url('../../shared/assets/fonts/Oswald.ttf');
	}
}